body {
    background-color: rgb(238, 238, 213);
    font-family: 'Fredoka', sans-serif;
}

.img-adapt {
    height: 100%;
    object-fit: cover;
}

.bg-color{
    background-color: 000000;
}

h1 {
    color: red;
}

